<div align="center">

# Pr√©diction de la souscription d'un d√©p√¥t √† terme  

## Pr√©-traitement des donn√©es

<img src="https://raw.githubusercontent.com/komiadok/bank_client_segmentation/main/cover_image.jpg" alt="Segmentation de clients bancaires" width="500"/>

</div>

<div style="background-color:#008080; color:white; padding:15px; border-radius:8px; font-weight:bold; font-size:16px;">
üìö Chargement des librairies
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<div style="background-color:#008080; color:white; padding:15px; border-radius:8px; font-weight:bold; font-size:16px;">
üóÉÔ∏è Partie 1 : Importation des donn√©es
</div>

In [2]:
data = pd.read_csv('bank_dataset_explor.csv', sep = ',')

In [3]:
print(f'Taille du dataframe : {data.shape}')

Taille du dataframe : (41188, 25)

In [4]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,False,False,True,False
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,False,False
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,False,False,True,False
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,False,False,False,False
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,False,False,True,False

<div style="background-color:#008080; color:white; padding:15px; border-radius:8px; font-weight:bold; font-size:16px;">
üßπ Partie 2 : Nettoyage des donn√©es
</div>

### age

**Rappel**

Lors de l'exploration des donn√©es, nous avons d√©tect√© cinq individus de moins de 18 ans, donc **mineurs** dans notre jeu de donn√©es. Cependant, en raison de leur incapacit√© juridique √† souscrire √† un d√©p√¥t √† terme, nous avons consid√©r√© qu'il √©tait plus judicieux de les exclure de l'analyse. En effet, il sont hors de notre scope. C'est une situation impossible niveau op√©rationnel et r√©glementaire.

In [5]:
# Cr√©ation d'une copie du dataframe
clean_data = data.copy()

# Exclusion des mineurs
clean_data = clean_data[clean_data['inconsistent_age'] == False]
print(f"Apr√®s exclusion des mineurs, il nous reste {len(clean_data)} enregistrements.")

Apr√®s exclusion des mineurs, il nous reste 41183 enregistrements.

### job

**Rappel**

Lors de l‚Äôanalyse de la variable `job`, nous avons identifi√© la pr√©sence de valeurs manquantes cod√©es sous la modalit√© `unknown`. Apr√®s avoir √©valu√© l‚Äôimpact de cette modalit√© sur les souscriptions, nous avons d√©cid√© de la conserver. Pour am√©liorer la clart√© de l‚Äôanalyse, cette modalit√© sera renomm√©e `missing` afin de la rendre plus explicite et interpr√©table.

In [6]:
# Renommage de la modalit√© unknown de job
clean_data['job'] = clean_data['job'].replace('unknown', 'missing')

# Aper√ßu 
clean_data[clean_data['job'] == 'missing'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
29,55,missing,married,university.degree,unknown,unknown,unknown,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False
35,55,missing,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False

### marital

**Rappel**

L'analyse de la variable `job` a mis en √©vidence des valeurs manquantes cod√©es sous la modalit√© `unknown`. Bien que cette modalit√© pr√©sente un taux de souscription relativement √©lev√©, son faible effectif ne permet pas d‚Äôen tirer une conclusion statistiquement significative. Nous avons n√©anmoins choisi de la conserver afin de ne pas √©carter l‚Äôinformation potentielle qu‚Äôelle pourrait apporter √† l‚Äôanalyse. Dans ce contexte, il convient de la renommer en `missing`.

In [7]:
# Renommage de la modalit√© unknown de marital
clean_data['marital'] = clean_data['marital'].replace('unknown', 'missing')

# Aper√ßu 
clean_data[clean_data['marital'] == 'missing'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
40,58,management,missing,university.degree,no,yes,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False
390,59,retired,missing,university.degree,unknown,no,no,telephone,may,tue,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False

### education

**Rappel**

Lors de l'analyse de la variable `education`, nous avons mis en √©vidence la pr√©sence de la modalit√© `unknown` qui indiquait les valeurs manquantes. Cette modalit√© a un effectif non n√©gligeable (**1 731**) et un taux de souscription (**14.50%**) sup√©rieur au taux moyen. C'est donc une modalit√© **informative**. Il convient donc de la conserver, en la renommant en `missing`.

In [8]:
# Renommage de la modalit√© unknown de education
clean_data['education'] = clean_data['education'].replace('unknown', 'missing')

# Aper√ßu 
clean_data[clean_data['education'] == 'missing'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
7,41,blue-collar,married,missing,unknown,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False
10,41,blue-collar,married,missing,unknown,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False

### default

**Rappel**

L‚Äôexploration des donn√©es a r√©v√©l√© la pr√©sence de valeurs manquantes dans la variable `default`, cod√©es sous la modalit√© `unknown`. Ces valeurs, au nombre de **8 597**, pr√©sentent un taux de souscription tr√®s faible (**5.15%**) compar√© au taux moyen. Cette modalit√© est associ√©e √† un comportement sp√©cifique des clients, il est donc judicieux de la conserver en la renommant en `missing`.<br>
Par ailleurs, la modalit√© `yes` a √©t√© identifi√©e avec un effectif extr√™mement faible (**3 occurrences**) et aucun cas de souscription associ√©. Elle n‚Äôest donc pas statistiquement significative et, de ce fait, peu fiable pour notre mod√®le. Afin d‚Äô√©viter un risque de surapprentissage, il est recommand√© de la supprimer.

In [9]:
# Exclusion de la modalit√© yes de default
clean_data = clean_data[clean_data['default'] != 'yes']

# Aper√ßu
print(f"Apr√®s exclusion de la modalit√© yes, il nous reste {len(clean_data)} enregistrements.")

Apr√®s exclusion de la modalit√© yes, il nous reste 41180 enregistrements.

In [10]:
# Renommage de la modalit√© unknown de default
clean_data['default'] = clean_data['default'].replace('unknown', 'missing')

# Aper√ßu 
clean_data[clean_data['default'] == 'missing'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
1,57,services,married,high.school,missing,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,False,False
5,45,services,married,basic.9y,missing,no,no,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False

### housing

**Rappel**

Lors de l'analyse de la variable `housing`, nous avons identifi√© trois modalit√©s : `yes`, `no`et `unknown`. Ces modalit√©s affichent des taux de souscription relativement proches, ce qui justifie leur conservation dans l‚Äôanalyse. Cependant, la modalit√© `unknown` correspond √† des donn√©es manquantes ; il est donc pertinent de la renommer en `missing` afin d‚Äôen clarifier l‚Äôinterpr√©tation.

In [11]:
# Renommage de la modalit√© unknown de housing
clean_data['housing'] = clean_data['housing'].replace('unknown', 'missing')

# Aper√ßu 
clean_data[clean_data['housing'] == 'missing'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
29,55,missing,married,university.degree,missing,missing,unknown,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False
81,51,blue-collar,married,basic.4y,missing,missing,unknown,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False

### loan

**Rappel**

L‚Äôanalyse de la variable `housing` a r√©v√©l√© la pr√©sence de la modalit√©  `unknown`, correspondant √† des valeurs manquantes. √âtant donn√© que son taux de souscription est comparable √† celui des autres modalit√©s, il est pertinent de la conserver en la renommant `missing` afin d‚Äôen faciliter l‚Äôinterpr√©tation.

In [12]:
# Renommage de la modalit√© unknown de loan
clean_data['loan'] = clean_data['loan'].replace('unknown', 'missing')

# Aper√ßu 
clean_data[clean_data['loan'] == 'missing'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign
29,55,missing,married,university.degree,missing,missing,missing,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False
81,51,blue-collar,married,basic.4y,missing,missing,missing,telephone,may,mon,...,1.1,93.994,-36.4,4.857,5191.0,no,True,False,True,False

### duration

**Rappel**

L‚Äôanalyse exploratoire de la variable `duration` a mis en √©vidence la pr√©sence de **29 934 enregistrements** dont la dur√©e d‚Äôappel exc√®de le seuil m√©tier et r√©glementaire fix√© √† **180 secondes** pour un appel de prospection. Ces valeurs sont consid√©r√©es comme aberrantes dans la mesure o√π elles d√©passent largement les standards op√©rationnels, ce qui pourrait indiquer des anomalies de saisie, des appels hors p√©rim√®tre de la campagne, ou des situations particuli√®res non repr√©sentatives du processus standard.<br>
La proportion de ces observations est significative. Une suppression pure et simple risquerait de conduire √† :
1. **Une perte d‚Äôinformation** : ces enregistrements peuvent contenir des signaux pertinents sur le comportement ou l‚Äôengagement des clients, m√™me s‚Äôils sont atypiques.
2. **Un biais potentiel** : √©liminer syst√©matiquement ces donn√©es pourrait modifier la distribution des dur√©es et influencer n√©gativement la capacit√© du mod√®le √† g√©n√©raliser.

Afin de concilier robustesse statistique et conservation de l‚Äôinformation, nous avons opt√© pour une strat√©gie en deux volets :
1. **Winsorisation des valeurs**
   * Les dur√©es sup√©rieures √† 180 secondes seront ramen√©es √† ce seuil maximal.
   * Cette transformation permet de limiter l'impact disproportionn√© des valeurs extr√™mes sur les m√©triques du mod√®le tout en conservant la donn√©e dans l'√©chantillon.
2. **Cr√©ation d'un indicateur binaire (flag)**
   * Une nouvelle variable sera ajout√©e pour signaler au mod√®le les observations dont la dur√©e r√©elle exc√©dait initialement 180 secondes.
   * Cet indicateur permettra au mod√®le d‚Äôexploiter la sp√©cificit√© comportementale de ces cas, tout en travaillant avec des valeurs de duration homog√©n√©is√©es.

In [13]:
# Plafonner les temps d'appel √† 180 secondes
clean_data['duration'] = clean_data['duration'].clip(upper=180)

# V√©rification
clean_data[clean_data['duration'] > 180]

Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y, is_missing, inconsistent_age, is_outlier_duration, is_outlier_campaign]
Index: []

[0 rows x 25 columns]

### campaign

**Rappel**

L‚Äôanalyse exploratoire de la variable `campaign` a mis en √©vidence la pr√©sence de **3 385 enregistrements** dont le nombre d‚Äôappels exc√®de le seuil m√©tier et r√©glementaire fix√© √† **5** pour un appel de prospection. Ces valeurs sont consid√©r√©es comme aberrantes dans la mesure o√π elles d√©passent largement les standards op√©rationnels, ce qui pourrait indiquer des anomalies de saisie, des appels hors p√©rim√®tre de la campagne, ou des situations particuli√®res non repr√©sentatives du processus standard.<br>
La proportion de ces observations est significative. Une suppression pure et simple risquerait de conduire √† :
1. **Une perte d‚Äôinformation** : ces enregistrements peuvent contenir des signaux pertinents sur le comportement ou l‚Äôengagement des clients, m√™me s‚Äôils sont atypiques.
2. **Un biais potentiel** : √©liminer syst√©matiquement ces donn√©es pourrait modifier la distribution des dur√©es et influencer n√©gativement la capacit√© du mod√®le √† g√©n√©raliser.

Afin de concilier robustesse statistique et conservation de l‚Äôinformation, nous avons opt√© pour une strat√©gie en deux volets :
1. **Winsorisation des valeurs**
   * Les nombres d'appels sup√©rieurs √† 5 seront ramen√©s √† ce seuil maximal.
   * Cette transformation permet de limiter l'impact disproportionn√© des valeurs extr√™mes sur les m√©triques du mod√®le tout en conservant la donn√©e dans l'√©chantillon.
2. **Cr√©ation d'un indicateur binaire (flag)**
   * Une nouvelle variable sera ajout√©e pour signaler au mod√®le les observations dont le nombre d'appels r√©el exc√©dait initialement 5.
   * Cet indicateur permettra au mod√®le d‚Äôexploiter la sp√©cificit√© comportementale de ces cas, tout en travaillant avec des valeurs de duration homog√©n√©is√©es.

In [14]:
# Plafonner les temps d'appel √† 180 secondes
clean_data['campaign'] = clean_data['campaign'].clip(upper=5)

# V√©rification
clean_data[clean_data['campaign'] > 5]

Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y, is_missing, inconsistent_age, is_outlier_duration, is_outlier_campaign]
Index: []

[0 rows x 25 columns]

### pdays

**Rappel**

La variable `pdays` repr√©sente le nombre de jours √©coul√©s depuis le dernier contact avec un client. Elle contient la valeur **999**, qui signale que le client n‚Äôa jamais √©t√© contact√© auparavant. Cette valeur extr√™me, si utilis√©e telle quelle dans le mod√®le, risque de perturber la distribution de la variable et d‚Äôaffecter la qualit√© des r√©sultats.

Pour pallier ce probl√®me, nous allons proc√©der de la mani√®re suivante :

* Cr√©er une variable binaire distincte, `never_contacted`, afin d‚Äôidentifier explicitement les clients qui n‚Äôont jamais √©t√© contact√©s.
* Imputer la valeur m√©diane de `pdays` (calcul√©e sur les clients d√©j√† contact√©s) pour remplacer les occurrences de **999** dans la variable continue `pdays`.

Cette approche permettra au mod√®le de distinguer clairement les clients jamais contact√©s tout en conservant une variable `pdays` continue et repr√©sentative des d√©lais r√©els de contact.

In [15]:
# Cr√©er la variable binaire indiquant jamais contact√©
clean_data['never_contacted'] = (clean_data['pdays'] == 999).astype(int)

# Calculer la m√©diane des pdays pour les clients d√©j√† contact√©s
median_pdays = clean_data.loc[clean_data['pdays'] != 999, 'pdays'].median()

# Imputer la m√©diane pour remplacer les 999
clean_data['pdays'] = clean_data['pdays'].replace(999, median_pdays)

# Aper√ßu
clean_data[clean_data['never_contacted'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,93.994,-36.4,4.857,5191.0,no,False,False,True,False,1
1,57,services,married,high.school,missing,no,no,telephone,may,mon,...,93.994,-36.4,4.857,5191.0,no,True,False,False,False,1

### poutcome

**Rappel**

La variable `poutcome`, repr√©sentant le r√©sultat de la derni√®re campagne marketing, comprend trois modalit√©s distinctes :
* `success` : indique que la campagne pr√©c√©dente a abouti √† une souscription r√©ussie.
* `failure` : correspond √† un contact effectu√© lors de la campagne pr√©c√©dente, sans aboutir √† une souscription.
* `nonexistent` : signale que le client n‚Äôa jamais √©t√© contact√© lors d‚Äôune campagne marketing ant√©rieure.

Pour am√©liorer la clart√© et la compr√©hension, il est recommand√© de renommer la modalit√© `nonexistent` en `no_previous_contact`. Ce libell√© explicite mieux la situation du client et facilite l‚Äôinterpr√©tation des analyses ult√©rieures.

In [16]:
# Renommage de la modalit√© nonexistent de poutcome
clean_data['poutcome'] = clean_data['poutcome'].replace('nonexistent', 'no_previous_contact')

# Aper√ßu 
clean_data[clean_data['poutcome'] == 'no_previous_contact'].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,93.994,-36.4,4.857,5191.0,no,False,False,True,False,1
1,57,services,married,high.school,missing,no,no,telephone,may,mon,...,93.994,-36.4,4.857,5191.0,no,True,False,False,False,1

<div style="background-color:#008080; color:white; padding:15px; border-radius:8px; font-weight:bold; font-size:16px;">
‚öôÔ∏è Partie 3 : Feature engineering
</div>

### Cr√©ation de flag

In [17]:
# Cr√©ation du flag pour job
clean_data['job_missing_flag'] = (clean_data['job'] == 'missing').astype(int)

# Aper√ßu
clean_data[clean_data['job_missing_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,cons.conf.idx,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag
29,55,missing,married,university.degree,missing,missing,missing,telephone,may,mon,...,-36.4,4.857,5191.0,no,True,False,True,False,1,1
35,55,missing,married,basic.4y,missing,yes,no,telephone,may,mon,...,-36.4,4.857,5191.0,no,True,False,True,False,1,1

In [18]:
# Cr√©ation du flag pour marital
clean_data['marital_missing_flag'] = (clean_data['marital'] == 'missing').astype(int)

# Aper√ßu
clean_data[clean_data['marital_missing_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,euribor3m,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag
40,58,management,missing,university.degree,no,yes,no,telephone,may,mon,...,4.857,5191.0,no,True,False,True,False,1,0,1
390,59,retired,missing,university.degree,missing,no,no,telephone,may,tue,...,4.857,5191.0,no,True,False,True,False,1,0,1

In [19]:
# Cr√©ation du flag pour education
clean_data['education_missing_flag'] = (clean_data['education'] == 'missing').astype(int)

# Aper√ßu
clean_data[clean_data['education_missing_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,nr.employed,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag
7,41,blue-collar,married,missing,missing,no,no,telephone,may,mon,...,5191.0,no,True,False,True,False,1,0,0,1
10,41,blue-collar,married,missing,missing,no,no,telephone,may,mon,...,5191.0,no,True,False,True,False,1,0,0,1

In [20]:
# Cr√©ation du flag pour default
clean_data['default_missing_flag'] = (clean_data['default'] == 'missing').astype(int)

# Aper√ßu
clean_data[clean_data['default_missing_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,y,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag,default_missing_flag
1,57,services,married,high.school,missing,no,no,telephone,may,mon,...,no,True,False,False,False,1,0,0,0,1
5,45,services,married,basic.9y,missing,no,no,telephone,may,mon,...,no,True,False,True,False,1,0,0,0,1

In [21]:
# Cr√©ation du flag pour housing
clean_data['housing_missing_flag'] = (clean_data['housing'] == 'missing').astype(int)

# Aper√ßu
clean_data[clean_data['housing_missing_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,is_missing,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag,default_missing_flag,housing_missing_flag
29,55,missing,married,university.degree,missing,missing,missing,telephone,may,mon,...,True,False,True,False,1,1,0,0,1,1
81,51,blue-collar,married,basic.4y,missing,missing,missing,telephone,may,mon,...,True,False,True,False,1,0,0,0,1,1

In [22]:
# Cr√©ation du flag pour loan
clean_data['loan_missing_flag'] = (clean_data['loan'] == 'missing').astype(int)

# Aper√ßu
clean_data[clean_data['loan_missing_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,inconsistent_age,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag,default_missing_flag,housing_missing_flag,loan_missing_flag
29,55,missing,married,university.degree,missing,missing,missing,telephone,may,mon,...,False,True,False,1,1,0,0,1,1,1
81,51,blue-collar,married,basic.4y,missing,missing,missing,telephone,may,mon,...,False,True,False,1,0,0,0,1,1,1

In [23]:
# Cr√©ation du flag pour duration
clean_data['duration_outlier_flag'] = clean_data['is_outlier_duration'].astype(int)

# Aper√ßu
clean_data[clean_data['duration_outlier_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,is_outlier_duration,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag,default_missing_flag,housing_missing_flag,loan_missing_flag,duration_outlier_flag
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,True,False,1,0,0,0,0,0,0,1
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,True,False,1,0,0,0,0,0,0,1

In [24]:
# Cr√©ation du flag pour duration
clean_data['campaign_outlier_flag'] = clean_data['is_outlier_campaign'].astype(int)

# Aper√ßu
clean_data[clean_data['campaign_outlier_flag'] == 1].head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,is_outlier_campaign,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag,default_missing_flag,housing_missing_flag,loan_missing_flag,duration_outlier_flag,campaign_outlier_flag
694,53,admin.,married,university.degree,missing,yes,no,telephone,may,tue,...,True,1,0,0,0,1,0,0,1,1
786,38,blue-collar,married,basic.9y,no,yes,no,telephone,may,wed,...,True,1,0,0,0,0,0,0,1,1

### Cr√©ation de nouvelles variables

#### Classes d'√¢ge

Pour optimiser l‚Äôanalyse des donn√©es et affiner notre ciblage, nous allons segmenter la population en classes d‚Äô√¢ge. Cette segmentation permettra d‚Äôidentifier plus pr√©cis√©ment les segments pr√©sentant les plus fortes probabilit√©s de souscription. Par cons√©quent, elle facilitera la mise en place de communications et de campagnes marketing cibl√©es, adapt√©es aux caract√©ristiques sp√©cifiques de chaque groupe, telles que des offres d√©di√©es aux jeunes actifs.

In [25]:
def assign_age_group(age):
    """
    Description:
        Assigne une cat√©gorie d'√¢ge (groupe d'√¢ge) √† une valeur d'√¢ge donn√©e.

    Arguments:
        age (int ou float): L'√¢ge de la personne.

    Retourne:
        str: La cat√©gorie d'√¢ge correspondante parmi les groupes pr√©d√©finis :
    """

    # Jeunes d√©butants : g√©n√©ralement √©tudiants ou jeunes actifs
    if 18 <= age <= 24:
        return 'Jeunes d√©butants'
    # Jeunes actifs : d√©but de carri√®re, construction de patrimoine
    elif 25 <= age <= 34:
        return 'Jeunes actifs'
    # Actifs interm√©diaires : revenus et responsabilit√©s en progression
    elif 35 <= age <= 44:
        return 'Actifs interm√©diaires'
    # Actifs matures : stabilit√© professionnelle et financi√®re
    elif 45 <= age <= 54:
        return 'Actifs matures'
     # Pr√©retrait√©s : pr√©paration √† la retraite, capacit√© d‚Äô√©pargne accrue
    elif 55 <= age <= 64:
        return 'Pr√©retrait√©s'
    # Retrait√©s r√©cents : capital constitu√©, recherche de s√©curit√©
    elif 65 <= age <= 74:
        return 'Retrait√©s r√©cents'
    # Retrait√©s avanc√©s : aversion au risque plus marqu√©e, priorit√© liquidit√©
    else:
        return 'Retrait√©s avanc√©s'

In [26]:
clean_data['age_group'] = clean_data['age'].apply(assign_age_group)

<div style="background-color:#008080; color:white; padding:15px; border-radius:8px; font-weight:bold; font-size:16px;">
üì§ Partie 4 : Exportation des donn√©es
</div>

In [27]:
# Affichage de la table √† exporter
clean_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,never_contacted,job_missing_flag,marital_missing_flag,education_missing_flag,default_missing_flag,housing_missing_flag,loan_missing_flag,duration_outlier_flag,campaign_outlier_flag,age_group
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,0,0,0,0,0,0,1,0,Pr√©retrait√©s
1,57,services,married,high.school,missing,no,no,telephone,may,mon,...,1,0,0,0,1,0,0,0,0,Pr√©retrait√©s
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,0,0,0,0,0,0,1,0,Actifs interm√©diaires
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,0,0,0,0,0,0,0,0,Actifs interm√©diaires
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,0,0,0,0,0,0,1,0,Pr√©retrait√©s

In [28]:
clean_data.to_csv("outputs/dataset_preprocess.csv", index=False)